@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContentAccessor
@{
    var session = httpContentAccessor.HttpContext.Session;
}
@model IEnumerable<EvergreenAPI.Models.Blog>

@{  
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Index";
}



<form method="get">
    <div class="form-actions no-color">
        <p>
            <input type="search" name="searchString" placeholder="Search for.." class="m-2" />
            <button type="submit" value="Search" class="btn btn-success m-2"><i class="fa fa-search"></i></button>
            <a class="btn btn-dark m-2" asp-action="AdminIndex">Back to full list</a>
        </p>
    </div>
</form>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Blogs Managements</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-dark" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastModifiedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ViewCount)
                        </th>
                        <th hidden>
                            @Html.DisplayNameFor(model => model.ImageId)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody >
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastModifiedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ViewCount)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.Image.Url)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.BlogId" class="btn btn-info">
                                    View
                                    <i class="fa fa-eye"></i>
                                    </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

