@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContentAccessor
@{
    var session = httpContentAccessor.HttpContext.Session;
}
@model IEnumerable<EvergreenAPI.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (session.GetString("Role") == ("Admin"))
                {
<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
                }
<table class="table" border="1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifiedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewCount)
                </td>
                if (session.GetString("Role") == ("Admin"))
                {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BlogId" class="btn btn-outline-info">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BlogId" class="btn btn-outline-warning">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BlogId" class="btn btn-outline-danger">Delete</a>
                </td>
                }
            </tr>
        }
    </tbody>
</table>
