@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContentAccessor
@{
    var session = httpContentAccessor.HttpContext.Session;
}
@model IEnumerable<EvergreenAPI.Models.DiseaseCategory>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Index";
}
<style>
    body {
        width: 100%;
        height: 100%;
    }

    .btn-group-fab {
        position: fixed;
        width: 50px;
        height: auto;
        right: 20px;
        bottom: 20px;
    }

        .btn-group-fab div {
            position: relative;
            width: 100%;
            height: auto;
        }

        .btn-group-fab .btn {
            position: absolute;
            bottom: 0;
            border-radius: 50%;
            display: block;
            margin-bottom: 4px;
            width: 40px;
            height: 40px;
            margin: 4px auto;
        }

        .btn-group-fab .btn-main {
            width: 50px;
            height: 50px;
            right: 50%;
            margin-right: -25px;
            z-index: 9;
        }

        .btn-group-fab .btn-sub {
            bottom: 0;
            z-index: 8;
            right: 50%;
            margin-right: -20px;
            -webkit-transition: all 2s;
            transition: all 0.5s;
        }

        .btn-group-fab.active .btn-sub:nth-child(2) {
            bottom: 60px;
        }

        .btn-group-fab.active .btn-sub:nth-child(3) {
            bottom: 110px;
        }

        .btn-group-fab.active .btn-sub:nth-child(4) {
            bottom: 160px;
        }

        .btn-group-fab .btn-sub:nth-child(5) {
            bottom: 210px;
        }
</style>

<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h4 class="m-0 font-weight-bold text-primary">Disease Category Managements</h4>
        <div class="d-flex justify-content-between align-items-center">
            <a class="btn btn-primary text-white" asp-action="Create"> <i class="fa fa-plus fa-fw"></i> Create New</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-dark" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.DiseaseCategoryId" class="btn btn-danger">Delete</a>
                                <a asp-action="Edit" asp-route-id="@item.DiseaseCategoryId"  class="btn btn-warning">Update</a>
                            </td>
                        </tr>
                    }
                     
                </tbody>
            </table>
            
        </div>
    </div>
    
</div>

<div class="btn-group-fab" role="group" aria-label="FAB Menu">
    <div>
        <button type="button" class="btn btn-main btn-primary has-tooltip" data-placement="left" title="Menu"> <i class="fa fa-bars"></i> </button>
        <button type="button" class="btn btn-sub btn-info has-tooltip" data-placement="left" title="Fullscreen"> <i class="fa fa-arrows-alt"></i> </button>
        <button type="button" class="btn btn-sub btn-danger has-tooltip" data-placement="left" title="Save"> <i class="fa fa-floppy-o"></i> </button>
        <button type="button" class="btn btn-sub btn-warning has-tooltip" data-placement="left" title="Download"> <i class="fa fa-download"></i> </button>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>

<script>
    $(function () {
        $('.btn-group-fab').on('click', '.btn', function () {
            $('.btn-group-fab').toggleClass('active');
        });
        $('has-tooltip').tooltip();
    });
     
</script>


@if (TempData["message"] != null)
{
    <script>
        window.onload = () => {
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: '@TempData["message"]',
                showConfirmButton: false,
                timer: 1500
            })
        }
    </script>
}