@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContentAccessor
@{
    var session = httpContentAccessor.HttpContext.Session;
}
@model IEnumerable<EvergreenAPI.Models.Disease>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary">Disease Managements</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-dark" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Identification)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Affect)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DiseaseCategoryId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageId)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Identification)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Affect)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiseaseCategory.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Image.Url)
                            </td>
                            <td>
                                <a asp-action="AdminDetails" asp-route-id="@item.DiseaseId" class="btn btn-info"> View </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>   



