@model EvergreenAPI.Models.Disease
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<h4>Disease</h4>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Identification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Identification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Affect)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Affect)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DiseaseCategory.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DiseaseCategory.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image.AltText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image.AltText)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="DiseaseId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </form>
</div>
