@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContentAccessor
@{
    var session = httpContentAccessor.HttpContext.Session;
}
@model IEnumerable<EvergreenAPI.Models.Disease>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h4>Disease</h4>
<hr />
@if (session.GetString("r")== "Admin")
                {
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
                }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Affect)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Identification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Affect)
                </td>
                @if (session.GetString("r") == "Admin")
                {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DiseaseId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DiseaseId" class="btn btn-info">Details</a>|
                    <a asp-action="Delete" asp-route-id="@item.DiseaseId" class="btn btn-danger">Delete</a>
                </td>
                }
            </tr>
        }
    </tbody>
</table>
