@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContentAccessor
@{
    var session = httpContentAccessor.HttpContext.Session;
}
@model IEnumerable<EvergreenAPI.Models.Message>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h4>Message</h4>
<hr />

 @if (session.GetString("r") == "Admin")
               {
<p>
    <a asp-action="AdminCreate" class="btn btn-primary">Create New</a>
</p>
}
else if (session.GetString("r") == "User")
{

    <p>
        <a asp-action="UserCreate" class="btn btn-primary">Create New</a>
    </p>

  }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                @if (session.GetString("r") == "Admin")
                {
                    <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.FullName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MessageId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MessageId" class="btn btn-info">Details</a>|
                    <a asp-action="Delete" asp-route-id="@item.MessageId" class="btn btn-danger">Delete</a>
                </td>
                </tr>
                } else if(session.GetString("r") == "User") {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author.FullName)
                    </td>
                    <td>
                        <a asp-action="UserEdit" asp-route-id="@item.MessageId" class="btn btn-warning">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MessageId" class="btn btn-info">Details</a>|
                        <a asp-action="UserDelete" asp-route-id="@item.MessageId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                }
            
        }
    </tbody>
</table>
