@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContentAccessor
@{
    var session = httpContentAccessor.HttpContext.Session;
}
@model IEnumerable<EvergreenAPI.Models.Treatment>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Index";
}


    <p>
        <a asp-action="Create" class="btn btn-primary">Create</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Method)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disease.Name)
                </th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageId)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Method)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Disease.Name)
                    </td>
                        <td>
                    @Html.DisplayFor(modelItem => item.Image.Url)
                        </td>
                    <td>
                        <a asp-action="AdminDetails" asp-route-id="@item.TreatmentId" class="btn btn-info"> View </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


