@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContentAccessor
@{
    var session = httpContentAccessor.HttpContext.Session;
}
@model IEnumerable<EvergreenAPI.Models.Treatment>
@{
    ViewData["Title"] = "Index";
}

@if (session.GetString("r") == "Admin")
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Method)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disease.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Method)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Disease.Name)
                    </td>
                    @if (session.GetString("r") == "Admin")
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TreatmentId" class="btn btn-warning">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.TreatmentId" class="btn btn-info">Details</a>|
                            <a asp-action="Delete" asp-route-id="@item.TreatmentId" class="btn btn-danger">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 ftco-animate">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <h4 class="mb-0">
                                <a class="text-dark" href="#">@item.Method</a>
                            </h4>
                            <div class="mb-1 text-muted">@item.Disease.DiseaseCategory.Name</div>
                            <p class="card-text mb-auto text-ellipsis" style="max-width: 248px;">@item.Disease.Name</p>
                            <a class="btn btn-danger rounded" href="#">Continue reading</a>
                        </div>
                        <div class="img-hover-zoom flex-auto d-none d-md-block card-img-right" style="width: 250px; height: 250px; border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem;">
                            <img alt="Thumbnail" style="width: 100%; height: 250px; object-fit: cover;" src="@item.Image.Url" data-holder-rendered="true">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(() => {
            if ($("#dttb"))
                $("#dttb").DataTable();
        })
    </script>
}